<p>
  <strong>Name</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Manufacturer</strong>
  <%= @device.manufacturer %>
</p>

<p>
  <strong>Model</strong>
  <%= @device.model %>
</p>

<p>
  <strong>Description</strong>
  <%= @device.description %>
</p>



<%= link_to 'Назад', devices_path %> |
<%= link_to 'Изменить', edit_device_path(@device) %>