<h1>New document</h1>

<%= render 'form' %>

<%= link_to 'Back', attachments_path %>

<%= form_tag parse_attachments_path, :multipart => true do %>
   <label for="file">Upload text File</label> <%= file_field_tag "file" %>
   <%= submit_tag %>
<% end %>